
.features {
  background-image: url("../../images/grey-shape-mobile.svg");
  background-repeat: no-repeat;
  background-position-y: -55px;
  text-align: center;
}
.features__wrapper {
  padding: 20px;
  padding-top: 75px;
  background-image: url("../../images/iphone-features-mobile.svg");
  background-position: 50% 97%;
  background-repeat: no-repeat;
  min-height: 828px;
}
.features__item-title {
  font-size: 18px;
  font-weight: 700px;
  color: var(--black);
  margin-top: 30px;
  margin-bottom: 0;
}
.features__item-text {
  font-size: 14px;
  font-weight: 400px;
}
.screen-features-desktop {
  display: none;
}
.screen-features-tablet {
  display: none;
}
@media screen and (min-width: 660px) {
  .features {
    background-image: url("../../images/grey-shape-tablet.svg");
    background-position-y: -7px;
    height: 500px;
    text-align: left;
  }
  .features__wrapper {
    padding: 20px;
    padding-top: 75px;
    background-image: url("../../images/iphone-features-tablet.svg");
    background-position: 5% 5%;
    background-repeat: no-repeat;
  }
  .features__list {
    width: 320px;
    float: right;
  }
  .screen-features-desktop {
    display: none;
  }
  .screen-features-tablet {
    display: block;
    position: relative;
    left: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    background-image: url("../../images/grey-shape-desktop.svg");
    background-position-y: unset;
    height: 700px;
  }
  .features__wrapper {
    padding: 0 130px;
    background: unset;
  }
  .features__list {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    height: 400px;
  }
  .features__item {
    width: 236px;
    text-align: center;
    padding-top: 335px;
  }
  .features__item--first,
  .features__item--second,
  .features__item--third 
  {
    background-image: url("../../images/iphone-features-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    min-height: 500px;
  }
  .features__item-title {
    background-color: #f2f2f2;
    padding-top: 60px;
    font-size: 30px;
    margin: 0;
    box-shadow: 0.1px -10px 10px -10px grey;
    position: relative;
    z-index: 100;
  }
  .features__item-text {
    background-color: #f2f2f2;
    padding-top: 30px;
    font-size: 18px;
    margin: 0;
  }
  .screen-features-desktop {
    display: block;
    position: relative;
    top: -560px;
    right: -33px;
  }
  .screen1-desktop {
    top: -584px;
  }
  .screen-features-tablet {
    display: none;
  }
}