.header-content {
  position: relative;
  color: var(--white);
  background-image: url("../../images/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 462px;
}
.iphone-image {
  position: relative;
  top: 172px;
}
.ipnone-image__item {
  position: absolute;
  right: -13px;
}
.ipnone-image__item-screen {
  position: absolute;
  right: 103px;
  top: 32px;
}

.ipnone-image__item {
  right: -13px;
}
.iphone-image--tablet {
  display: none;
}

.iphone-image--desktop {
  display: none;
}

@media screen and (min-resolution: 144dpi) and (min-width: 320px) {
  .header-content {
    background-image: url("../../images/back-mobile@2x.jpg");
  }
}
@media screen and (min-width: 660px) {
  .header-content {
    background-image: url("../../images/back-tablet@1x.jpg");
    background-position: cover;
    min-height: 729px;
    max-width: 1200px;
  }
  .iphone-image--mobile {
    display: none;
  }
  .iphone-image--desktop {
    display: none;
  }
  .iphone-image--tablet {
    display: block;
  }
  .ipnone-image__item {
    right: -129px;
    top: 13px;
  }
  .ipnone-image__item-screen {
    right: 81px;
    top: 66px;
  }
}
/*@media screen and (min-resolution: 144dpi) and (min-width: 660px) {
  .header-content {
    background-image: url("../../images/back-tablet@2x.jpg");
  }
}*/
@media screen and (min-width: 1199px) {
  .header-content {
    background-image: url("../../images/back-desktop@1x.jpg");
    min-height: 853px;
    max-width: 2560px;
  }
  .header-content__iphone5-in-hand-img {
    top: 208px;
    right: 20px;
    min-width: 1050px;
  }
  .header-content__iphone-screen-img {
    top: 272px;
    right: 269px;
    width: 230px;
  }
  .iphone-image {
    right: 200px;
  }
  .iphone-image--mobile {
    display: none;
  }
  .iphone-image--tablet {
    display: none;
  }
  .iphone-image--desktop {
    display: block;
    top: 195px;
  }
  .ipnone-image__item-screen {
    right: 121px;
    top: 77px;
  }
}
@media screen and (min-resolution: 144dpi) and (min-width: 1200px) {
  .header-content {
    background-image: url("../../images/back-desktop@2x.jpg");
  }
}
.header-content__iphone5-in-hand-img {
  position: absolute;
  top: 175px;
  right: -10px;
  width: 498px;
}
.header-content__iphone-screen-img {
  position: absolute;
  top: 204px;
  right: 108px;
  width: 111px
}