.page-footer {
  display: none;
  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}
.page-footer__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: $tablet-width) {
    padding: 0 20px;
    height: 127px;
  }
  @media screen and (min-width: 1025px) {
    padding: 0 130px;
    height: 197px;
  }
}

.footer-logo__image {
  cursor: pointer;
  margin-bottom: 20px;
  &:hover {
    fill: $pink;
  }
  &:active {
    fill: #283645;
    opacity: 0.3;
  }
  &--tablet {
    display: none;
    @media screen and (min-width: $tablet-width) {
      display: block;
    }
    @media screen and (min-width: 1025px) {
      display: none;
    }
  }

  &--desktop {
    display: none;
    @media screen and (min-width: 1025px) {
      display: block;
    }
  }
}

.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 39px;
  padding-bottom: 39px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1025px) {
    max-width: 600px;
  }
}

.social-links__item {
  margin: 0 6px;
  list-style: none;
  @media screen and (min-width: $tablet-width) {
    margin: 0 3px 0 9px;
  }

  @media screen and (min-width: 1025px) {
    margin: 0 2px 0 10px;
  }
}

.social-links__link {
  display: flex;
  width: 45px;
  height: 45px;
  border-width: 3px;
  border-style: solid;
  border-color: $lightgray;
  border-radius: 50%;
  color: $pink;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    border-color: $dark-blue;
  }

  &:active {
    border-color: fade-out($dark-blue, 0.3);
    opacity: 0.3;
  }
}

.social-links__icon {
  display: block;
  margin: auto;
  fill: currentColor;
  pointer-events: none;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}
.page-footer__copyright-icon {
  fill: $pink;
  margin-top: 10px;
  &:hover {
    fill: #283645;
  }
  &:active {
    opacity: 0.3;
  }
}
.page-footer__copyright-text {
  margin-right: 15px;
}