.logo__image {
  width: 74px;
  height: 24px;
  pointer-events: none;
}
.logo__image--mobile {
  display: block;
  fill: $white;
}
.logo__image--tablet {
  display: none;
}
.logo__image--desktop {
  display: none;
}

@media screen and (min-width: $tablet-width) {
  .logo__image {
    width: 146px;
    height: 40px;
    margin-bottom: 15px;
  }
  .logo__link:hover .logo__image--tablet {
    fill: $pink;
  }
  .logo__link:active .logo__image--tablet {
    fill: $white;
    opacity: 0.3;
  }
  .logo__image--tablet {
    display: block;
    fill: $white;
  }
  .logo__image--mobile {
    display: none;
  }
  .logo__image--desktop {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .logo__image {
    width: 146px;
    height: 40px;
    margin-bottom: 15px;
  }
  .logo__image--mobile {
    display: none;
  }
  .logo__image--tablet {
    display: none;
  }
  .logo__image--desktop {
    display: block;
    fill: $white;
  }
  .logo__link:hover .logo__image--desktop {
    fill: $pink;
  }
  .logo__link:active .logo__image--desktop {
    fill: $white;
    opacity: 0.3;
  }
}
   