.map {
  position: relative;
  z-index: 1;
  background-image: url('../../images/map-mobile@1x.jpg');
  background-repeat: no-repeat;
  height: 200px;
  background-position-y: -442px;

  @media screen and (min-width: 481px) {
    background-image: url('../../images/map-tablet@1x.jpg');
    height: 373px;
    background-position-y: -330px;
  }

  @media screen and (min-width: 1025px) {
    background-image: url('../../images/map-desktop@1x.jpg');
    height: 501px;
    background-position: -535px;
  }
}
.map__marker {
  position: absolute;
  top: 50%;
  left: 42%;
  @media screen and (min-width: 481px) {
    top: 58%;
    left: 47%;
  }
  @media screen and (min-width: 1025px) {
    top: 58%;
    left: 63%;
  }
}