.price {
  padding-top: 91px;
  padding-bottom: 32px;
  background-image: url("../../images/grey-shape-mobile.svg");
  background-position: 0 -68px;
  background-repeat: no-repeat;

  @media screen and (min-width: 481px) {
    padding-top: 86px;
    padding-bottom: 69px;
    background-image: url("../../images/grey-shape-tablet.svg");
    background-position: 0 0;
  }

  @media screen and (min-width: 1025px) {
    padding-top: 150px;
    padding-bottom: 95px;
    background-image: url("../../images/grey-shape-desktop.svg");
    background-position: 0 0;
  }
}

.price__slider {
  overflow: hidden;
  line-height: 30px;
  text-transform: uppercase;
  @media screen and (min-width: 481px) {
    padding: 0 20px;
  }
  @media screen and (min-width: 1025px) {
    padding: 0 130px;
  }
}
.price__slider-controls {
  margin-top: 40px;
  margin-bottom: 15px;

  @media screen and (min-width: 481px) {
    display: none;
  }
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.4s linear;
  margin-top: 50px;

  @media screen and (min-width: 481px) {
    position: static;
    left: auto;
    transform: none;
  }
  @media screen and (min-width: 1025px) {
    margin-top: 30px;
  }
}
.table-price {
  width: 834px;
  border-spacing: 0;

  @media screen and (min-width: 481px) {
    width: 100%;
  }
}

.table-price__header {
  position: relative;
  padding-top: 17px;
  padding-bottom: 21px;
  border-right: 2px solid $lightgray;
  font-size: 18px;
  color: $white;
  background-color: $dark-blue;

  @media screen and (min-width: 481px) {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  @media screen and (min-width: 1025px) {
    padding-top: 16px;
    padding-bottom: 22px;
  }

  &:first-child {
    display: none;
    border-right: 0;
    border-bottom: 2px solid $lightgray;
    background-color: transparent;

    @media screen and (min-width: 481px) {
      display: table-cell;
    }
  }

  &:last-child {
    border-right-color: $dark-blue;
  }
  .ribbon {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 100px;
    background-color: $pink;
    font-size: 14px;
    font-weight: 400;
  }
  
  .ribbon-top-left {
    top: 0px;
    left: -2px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: 27px;
    top: 5px;
    transform: rotate(-45deg);
  }
}

.table-price__license-type,
.table-price__license-price {
  display: block;
}

.table-price__license-type {
  font-weight: bold;

  @media screen and (min-width: 481px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1025px) {
    font-size: 18px;
  }
}

.table-price__license-price {
  font-size: 24px;
  font-weight: 300;

  @media screen and (min-width: 481px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1025px) {
    font-size: 24px;
  }
}

.table-price__cell {
  padding: 15px 18px 14px 22px;
  border-right: 2px solid $lightgray;
  border-bottom: 2px solid $lightgray;
  background-color: $white;

  @media screen and (min-width: 481px) {
    padding: 7px 20px 8px;
    width: 25%;
  }

  @media screen and (min-width: 1025px) {
    padding: 14px 20px 15px;
  }

  &:first-child {
    display: none;
    border-left: 2px solid $lightgray;

    @media screen and (min-width: 481px) {
      display: table-cell;
      padding-left: 14px;
      padding-right: 14px;
      text-transform: none;
    }

    @media screen and (min-width: 1025px) {
      padding-left: 21px;
      padding-right: 21px;
      font-size: 18px;
    }
  }
}

.table-price__feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 481px) {
    justify-content: center;
  }

  &::before {
    content: attr(data-feature-name);

    @media screen and (min-width: 481px) {
      content: "";
    }
  }
}

.table-price__feature-value {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--true {
    width: 31px;
    height: 23px;
    background-image: url("../../images/icons/price-yes-icon.svg");
  }

  &--false {
    width: 27px;
    height: 27px;
    background-image: url("../../images/icons/price-no-icon.svg");
  }
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  @media screen and (min-width: 481px) {
    display: none;
  }
}

.slider-controls__button {
  box-sizing: content-box;
  margin-left: 9px;
  margin-right: 10px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  font-style: inherit;
  background-color: fade-out($dark-blue, 0.3);
  cursor: pointer;
  outline: none;

  &:not(&--current):hover {
    background-color: fade-out($dark-blue, 0.6);
  }

  &:not(&--current):active {
    background-color: fade-out($dark-blue, 0.1);
  }

  &--current {
    box-shadow: 0 0 0 3px $dark-blue;
    background-color: transparent;
    cursor: default;
  }
}
