.slider-reviews {
  position: relative;
  top: -56px;
  padding: 50px 20px 0;
  text-align: center;
  background-color: $white;

  @media screen and (min-width: 481px) {
    top: 0;
  }

  @media screen and (min-width: 1025px) {
    padding: 185px 130px 40px;
  }
}

.slider-reviews__quote-image {
  display: none;
  @media screen and (min-width: 1025px) {
    display: block;
    position: absolute;
    fill: #efefef;
    top: 70px;
    left: 45%;
  }
}

.slider-reviews__slide {
  height: 238px;
  line-height: 30px;

  @media screen and (min-width: 481px) {
    height: 187px;
  }

  @media screen and (min-width: 1025px) {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.slider-reviews__author {
  order: -1;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: bold;
  color: $black;

  @media screen and (min-width: 481px) {
    order: 0;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
  }

  @media screen and (min-width: 1025px) {
    margin-top: 21px;
    font-size: 24px;
    font-weight: 700;
  }
}

.slider-reviews__author-description {
  display: none;

  @media screen and (min-width: 481px) {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  @media screen and (min-width: 1025px) {
    font-size: 18px;
  }
}

.slider-reviews__quote {
  margin: 0;
  overflow: hidden;

  @media screen and (min-width: 481px) {
    margin-bottom: 13px;
    font-size: 18px;
  }

  @media screen and (min-width: 1025px) {
    position: relative;
    z-index: 2;
  }
}
.slider-reviews__slider-nav {
  display: none;
  @media screen and (min-width: 1025px) {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .slider-nav__slider-button--prev,
    .slider-nav__slider-button--next {
      position: absolute;
      top: 50%;
    }
    .slider-nav__slider-button--next {
      cursor: pointer;
      transform: rotate(180deg);
      right: 130px;
      fill: $gray;
      opacity: 0.3;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.1;
      }
    }
    .slider-nav__slider-button--prev {
      cursor: pointer;
      left: 130px;
      fill: $gray;
      opacity: 0.3;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.1;
      }
    }
    .slider-reviews__slides-wrapper {
      width: 685px;
      margin: 0 auto;
    }
}
.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}
