.efficiency {
  display: none;

  @media screen and (min-width: 660px) {
    display: block;
    background-color: #ffffff;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    background-color: #f2f2f2;
  }
}

.efficiency__content-wrapper {
  margin: 0 auto;
  padding: 60px 20px 72px;
  width: 280px;

  @media screen and (min-width: 660px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    padding: 17px 130px 66px;
    width: 100%;
  }
}

.efficiency__image {
  box-sizing: border-box;
  padding: 75px 64px 51px;
  width: 238px;
  background-image: url("../../images/diagram-fill.svg"), url("../../images/timer.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 202px 202px, 238px 276px;
  background-position: 19px 55px, 0 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 64px 64px 80px;
    width: 298px;
    background-size: 253px 253px, 298px 345px;
    background-position: 22px 68px, 0 0;
  }
}

.efficiency__image-text {
  font-size: 96px;
  font-weight: 700;
  line-height: 150px;
  color: #d22856;

  @media screen and (min-width: 1200px) {
    font-size: 120px;
    line-height: 187px;
  }
}

.efficiency__description {
  margin-top: 11px;
  margin-left: 70px;

  @media screen and (min-width: 1200px) {
    margin-top: 65px;
    width: 573px;
    font-size: 18px;
    line-height: 30px;
  }
}

.efficiency__title {
  margin-top: 23px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;

  @media screen and (min-width: 1200px) {
    margin-top: 24px;
    margin-bottom: 22px;
    width: auto;
  }
}

.efficiency__text {
  margin-top: 10px;
  margin-bottom: 11px;

  @media screen and (min-width: 1200px) {
    margin-top: 22px;
    margin-bottom: 31px;
  }
}

.efficiency__link {
  color: #d22856;
}