@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"); }

.main-page-header {
  color: #ffffff; }

.main-page-header__wrapper {
  background-color: #1d263299;
  position: absolute;
  max-width: 1400px;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0; }
  @media screen and (min-width: 1400px) {
    .main-page-header__wrapper {
      margin: 0 auto; } }

.main-page-header__wrapper--active {
  position: static;
  background-color: #1d2632; }

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; }

@media screen and (min-width: 1025px) {
  .main-page-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 130px; }
  .nav-bar {
    padding: 0;
    display: block; } }

.header-content {
  position: relative;
  color: #ffffff;
  background-image: url("../../imagesmin/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 462px; }
  @media screen and (min-resolution: 200dpi) and (min-width: 320px) {
    .header-content {
      background-image: url("../../imagesmin/back-mobile@2x.jpg"); } }
  .header-content__iphone5-in-hand-img {
    position: absolute;
    top: 175px;
    right: -10px;
    width: 498px; }
  .header-content__iphone-screen-img {
    position: absolute;
    top: 204px;
    right: 108px;
    width: 111px; }

.iphone-image {
  position: relative;
  top: 172px; }

.iphone-image__item {
  position: absolute;
  right: -13px; }

.iphone-image__item-screen {
  position: absolute;
  right: 100px;
  top: 31px;
  border: 2px solid #252527;
  border-radius: 2px; }

.iphone-image__item {
  right: -13px; }

.iphone-image--tablet {
  display: none; }

.iphone-image--desktop {
  display: none; }

@media screen and (min-width: 768px) {
  .header-content {
    background-image: url("../../imagesmin/back-tablet@1x.jpg");
    background-position: cover;
    min-height: 729px;
    max-width: 1025px; }
  .iphone-image--mobile {
    display: none; }
  .iphone-image--desktop {
    display: none; }
  .iphone-image--tablet {
    display: block; }
  .iphone-image__item {
    right: -129px;
    top: 13px; }
  .iphone-image__item-screen {
    border: 3px solid #252527;
    right: 79px;
    top: 65px; } }

@media screen and (min-resolution: 200dpi) and (min-width: 660px) {
  .header-content {
    background-image: url("../../imagesmin/back-tablet@2x.jpg"); } }

@media screen and (min-width: 1025px) {
  .header-content {
    background-image: url("../../imagesmin/back-desktop@1x.jpg");
    min-height: 853px;
    max-width: 2560px; }
  .header-content__iphone5-in-hand-img {
    top: 208px;
    right: 20px;
    min-width: 1050px; }
  .header-content__iphone-screen-img {
    top: 272px;
    right: 269px;
    width: 230px; }
  .iphone-image {
    right: 130px; }
  .iphone-image--mobile {
    display: none; }
  .iphone-image--tablet {
    display: none; }
  .iphone-image--desktop {
    display: block;
    top: 195px; }
  .iphone-image__item-screen {
    border: 3px solid #252527;
    right: 118px;
    top: 76px; } }

@media screen and (min-resolution: 200dpi) and (min-width: 1025px) {
  .header-content {
    background-image: url("../../imagesmin/back-desktop@2x.jpg"); } }

.main-content {
  position: relative;
  top: 280px; }

.main-content__titles {
  margin: 0 auto;
  padding: 41px 20px 0;
  max-width: 940px; }

.main-content__title {
  margin: 0 auto;
  margin-bottom: 31px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center; }

@media screen and (min-width: 768px) {
  .main-content {
    top: 0; }
  .main-content__titles {
    padding: 49px 20px 48px; }
  .main-content__title {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 48px; } }

@media screen and (min-width: 1025px) {
  .main-content__titles {
    padding: 67px 10px 76px; }
  .main-content__title {
    font-size: 50px;
    line-height: 60px; } }

.main-content__title:last-of-type {
  margin-bottom: 0; }

.features {
  background-image: url("../../images/grey-shape-mobile.svg");
  background-repeat: no-repeat;
  background-position-y: -35px;
  text-align: center; }

.features__wrapper {
  padding: 20px;
  padding-top: 85px;
  background-image: url("../../imagesmin/iphone-features-mobile.png");
  background-position: 50% 97%;
  background-repeat: no-repeat;
  min-height: 828px; }

.features__list {
  margin: 0 auto;
  max-width: 400px; }

.features__item-title {
  font-size: 18px;
  font-weight: 700px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 0; }

.features__item-text {
  font-size: 14px;
  font-weight: 400px; }

.screen-features-desktop {
  display: none; }

.screen-features-tablet {
  display: none; }

@media screen and (min-width: 768px) {
  .features {
    background-image: url("../../images/grey-shape-tablet.svg");
    background-position-y: -7px;
    height: 500px;
    text-align: left; }
  .features__wrapper {
    padding: 20px;
    padding-top: 75px;
    background-image: url("../../imagesmin/iphone-features-tablet.png");
    background-position: 20px 5%;
    background-repeat: no-repeat; }
  .features__list {
    width: 320px;
    margin-left: 50%; }
  .screen-features-desktop {
    display: none; }
  .screen-features-tablet {
    display: block;
    position: relative;
    left: 13px;
    top: -368px; } }

@media screen and (min-width: 1025px) {
  .features {
    background-image: url("../../images/grey-shape-desktop.svg");
    background-position-y: unset;
    height: 700px; }
  .features__wrapper {
    padding: 0 130px;
    background: unset; }
  .features__list {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    max-width: 100%;
    height: 400px;
    margin-left: 0;
    width: unset; }
  .features__item {
    width: 236px;
    text-align: center;
    padding-top: 335px; }
  .features__item--first,
  .features__item--second,
  .features__item--third {
    background-image: url("../../imagesmin/iphone-features-desktop.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    min-height: 500px; }
  .features__item-title {
    background-color: #f2f2f2;
    padding-top: 60px;
    font-size: 30px;
    margin: 0;
    box-shadow: 0.1px -10px 10px -10px grey;
    position: relative;
    z-index: 100; }
  .features__item-text {
    background-color: #f2f2f2;
    padding-top: 30px;
    font-size: 18px;
    margin: 0; }
  .screen-features-desktop {
    display: block;
    position: relative;
    top: -560px;
    right: -33px; }
  .screen1-desktop {
    top: -584px; }
  .screen-features-tablet {
    display: none; } }

.download-app {
  background-color: #1d2632;
  min-height: 271px;
  text-align: center;
  position: relative;
  top: 462px; }
  .download-app__header {
    display: none;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    margin: 0 50px; }
  .download-app__button {
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    background-color: transparent;
    padding: 20px 40px;
    border-radius: 50px;
    margin: 28px auto;
    outline: none; }
    .download-app__button:hover {
      background-color: #ffffff;
      border: 3px solid #ffffff;
      box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
      color: #d22856; }
    .download-app__button:active {
      color: rgba(210, 40, 86, 0.7); }
  .download-app__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 37px 28px;
    margin: 2px auto 28px;
    max-width: 300px; }
  .download-app__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
    margin: 10px auto;
    max-width: 300px; }
  .download-app__link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 56px;
    height: 56px; }

@media screen and (min-width: 768px) {
  .download-app {
    background-color: transparent;
    max-width: 335px;
    top: 195px; }
    .download-app__header {
      display: block; }
    .download-app__button {
      padding: 20px 50px; }
    .download-app .download-app__text {
      font-size: 18px;
      margin: 0; }
    .download-app .download-app__icons {
      margin: 12px 40px 40px 40px; } }

@media screen and (min-width: 1025px) {
  .download-app {
    background-color: transparent;
    top: 175px;
    left: 110px; }
    .download-app__header {
      display: block; }
    .download-app__button {
      padding: 20px 33px;
      font-size: 21px;
      margin: 50px 0; }
    .download-app__text {
      font-size: 18px;
      margin: 0; }
    .download-app__icons {
      margin: 0 50px 50px 50px; } }

.efficiency {
  display: none;
  position: relative; }
  @media screen and (min-width: 768px) {
    .efficiency {
      display: block;
      background-color: #ffffff; } }
  @media screen and (min-width: 1025px) {
    .efficiency {
      display: block;
      background-color: #f2f2f2; } }

.efficiency__content-wrapper {
  margin: 0 auto;
  padding: 60px 20px 72px;
  width: 280px; }
  @media screen and (min-width: 768px) {
    .efficiency__content-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%; } }
  @media screen and (min-width: 1025px) {
    .efficiency__content-wrapper {
      padding: 17px 120px 66px; } }

.efficiency__image {
  padding: 75px 64px 51px; }
  @media screen and (min-width: 1025px) {
    .efficiency__image {
      padding: 94px 64px 64px 80px; } }

@media screen and (min-width: 768px) {
  .efficiency__image-timer {
    width: 238px;
    height: 276px;
    position: absolute;
    top: 57px;
    left: 20px; } }

@media screen and (min-width: 1025px) {
  .efficiency__image-timer {
    width: 298px;
    height: 345px;
    position: absolute;
    left: 121px;
    top: 15px; } }

@media screen and (min-width: 768px) {
  .efficiency__image-round-diagram {
    width: 202px;
    height: 202px;
    position: absolute;
    top: 113px;
    left: 38px; } }

@media screen and (min-width: 1025px) {
  .efficiency__image-round-diagram {
    width: 253px;
    height: 253px;
    position: absolute;
    top: 85px;
    left: 143px; } }

.efficiency__image-text {
  font-size: 96px;
  font-weight: 700;
  line-height: 150px;
  color: #d22856; }
  @media screen and (min-width: 1025px) {
    .efficiency__image-text {
      font-size: 120px;
      line-height: 187px; } }

.efficiency__description {
  margin-top: 11px;
  margin-left: 70px; }
  @media screen and (min-width: 1025px) {
    .efficiency__description {
      margin-top: 65px;
      max-width: 460px;
      font-size: 18px;
      line-height: 30px;
      margin-left: 5%; } }

.efficiency__title {
  margin-top: 23px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000; }
  @media screen and (min-width: 1025px) {
    .efficiency__title {
      margin-top: 24px;
      margin-bottom: 22px;
      width: auto; } }

.efficiency__text {
  margin-top: 10px;
  margin-bottom: 11px; }
  @media screen and (min-width: 1025px) {
    .efficiency__text {
      margin-top: 22px;
      margin-bottom: 31px; } }

.efficiency__link {
  color: #d22856; }

.logo__image {
  width: 74px;
  height: 24px;
  pointer-events: none; }

.logo__image--mobile {
  display: block;
  fill: #ffffff; }

.logo__image--tablet {
  display: none; }

.logo__image--desktop {
  display: none; }

@media screen and (min-width: 768px) {
  .logo__image {
    width: 146px;
    height: 40px;
    margin-bottom: 15px; }
  .logo__link:hover .logo__image--tablet {
    fill: #d22856; }
  .logo__link:active .logo__image--tablet {
    fill: #ffffff;
    opacity: 0.3; }
  .logo__image--tablet {
    display: block;
    fill: #ffffff; }
  .logo__image--mobile {
    display: none; }
  .logo__image--desktop {
    display: none; } }

@media screen and (min-width: 1025px) {
  .logo__image {
    width: 146px;
    height: 40px;
    margin-bottom: 15px; }
  .logo__image--mobile {
    display: none; }
  .logo__image--tablet {
    display: none; }
  .logo__image--desktop {
    display: block;
    fill: #ffffff; }
  .logo__link:hover .logo__image--desktop {
    fill: #d22856; }
  .logo__link:active .logo__image--desktop {
    fill: #ffffff;
    opacity: 0.3; } }

.menu-icon {
  cursor: pointer;
  display: block;
  height: 30px; }
  .menu-icon:hover .menu-icon__button,
  .menu-icon:hover .menu-icon__button::before,
  .menu-icon:hover .menu-icon__button::after {
    background-color: #d22856; }
  .menu-icon:active .menu-icon__button,
  .menu-icon:active .menu-icon__button::before,
  .menu-icon:active .menu-icon__button::after {
    background-color: rgba(210, 40, 86, 0.7); }
  .menu-icon:hover .menu-icon__button--toggle,
  .menu-icon:active .menu-icon__button--toggle {
    background-color: transparent; }

.menu-icon__button {
  position: relative;
  width: 50px;
  height: 5px;
  border: 0;
  background-color: #ffffff;
  pointer-events: none; }

.menu-icon__button::before,
.menu-icon__button::after {
  position: absolute;
  content: '';
  left: 0;
  background-color: #ffffff;
  width: 50px;
  height: 5px;
  display: block;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s; }

.menu-icon__button::before {
  top: -10px; }

.menu-icon__button::after {
  top: 10px; }

.menu-icon__button--toggle {
  background-color: transparent; }

.menu-icon__button--toggle::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  width: 35px;
  margin-left: 20px; }

.menu-icon__button--toggle::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  width: 35px;
  margin-left: 20px; }

@media screen and (min-width: 1025px) {
  .menu-icon {
    height: auto; }
  .menu-icon__button {
    display: none; } }

.menu {
  display: none;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  line-height: 32px;
  background-color: #1d2632; }

.menu--active {
  display: block; }

.menu__list {
  margin: 0;
  padding: 0; }

.menu__item {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
  text-align: center;
  list-style-type: none; }

.menu__link {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none; }
  .menu__link:hover {
    color: #d22856; }
  .menu__link:active {
    color: rgba(210, 40, 86, 0.7); }

@media screen and (min-width: 1025px) {
  .menu {
    background-color: transparent;
    border: 0;
    display: block; }
  .menu__list {
    display: flex; }
  .menu__item {
    border: 0; }
  .menu__link {
    font-weight: 400;
    padding: 0;
    margin: 15px 20px; }
    .menu__link:active {
      color: rgba(255, 255, 255, 0.7); }
  .menu__link--active {
    border-bottom: 1px solid #ffffff; }
    .menu__link--active:hover {
      border-bottom: 1px solid #d22856; }
    .menu__link--active:active {
      border-bottom: 1px solid rgba(255, 255, 255, 0.7); } }

.slider-reviews {
  position: relative;
  top: -56px;
  padding: 50px 20px 0;
  text-align: center;
  background-color: #ffffff; }
  @media screen and (min-width: 768px) {
    .slider-reviews {
      top: 0; } }
  @media screen and (min-width: 1025px) {
    .slider-reviews {
      padding: 185px 130px 40px; } }

.slider-reviews__quote-image {
  display: none; }
  @media screen and (min-width: 1025px) {
    .slider-reviews__quote-image {
      display: block;
      position: absolute;
      fill: #efefef;
      top: 70px;
      left: 45%; } }

.slider-reviews__slide {
  height: 238px;
  line-height: 30px; }
  @media screen and (min-width: 768px) {
    .slider-reviews__slide {
      height: 187px; } }
  @media screen and (min-width: 1025px) {
    .slider-reviews__slide {
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 0; } }

.slider-reviews__author {
  order: -1;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: bold;
  color: #000000; }
  @media screen and (min-width: 768px) {
    .slider-reviews__author {
      order: 0;
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 20px; } }
  @media screen and (min-width: 1025px) {
    .slider-reviews__author {
      margin-top: 21px;
      font-size: 24px;
      font-weight: 700; } }

.slider-reviews__author-description {
  display: none; }
  @media screen and (min-width: 768px) {
    .slider-reviews__author-description {
      display: block;
      margin-top: 2px;
      margin-bottom: 2px; } }
  @media screen and (min-width: 1025px) {
    .slider-reviews__author-description {
      font-size: 18px; } }

.slider-reviews__quote {
  margin: 0;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .slider-reviews__quote {
      margin-bottom: 13px;
      font-size: 18px; } }
  @media screen and (min-width: 1025px) {
    .slider-reviews__quote {
      position: relative;
      z-index: 2; } }

.slider-reviews__slider-nav {
  display: none; }
  @media screen and (min-width: 1025px) {
    .slider-reviews__slider-nav {
      display: block; } }

@media screen and (min-width: 1025px) {
  .slider-nav__slider-button--prev,
  .slider-nav__slider-button--next {
    position: absolute;
    top: 50%; }
  .slider-nav__slider-button--next {
    cursor: pointer;
    transform: rotate(180deg);
    right: 130px;
    fill: #283645;
    opacity: 0.3; }
    .slider-nav__slider-button--next:hover {
      opacity: 0.6; }
    .slider-nav__slider-button--next:active {
      opacity: 0.1; }
  .slider-nav__slider-button--prev {
    cursor: pointer;
    left: 130px;
    fill: #283645;
    opacity: 0.3; }
    .slider-nav__slider-button--prev:hover {
      opacity: 0.6; }
    .slider-nav__slider-button--prev:active {
      opacity: 0.1; }
  .slider-reviews__slides-wrapper {
    width: 685px;
    margin: 0 auto; } }

.slick-dotted.slick-slider {
  margin-bottom: 0 !important; }

.slider-reviews__slider-controls {
  margin-top: 40px;
  margin-bottom: -40px;
  display: flex; }
  @media screen and (min-width: 1025px) {
    .slider-reviews__slider-controls {
      display: none; } }

.contacts {
  padding-top: 19px;
  padding-bottom: 38px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .contacts {
      padding-top: 46px;
      padding-bottom: 28px; } }
  @media screen and (min-width: 1025px) {
    .contacts {
      padding: 64px 0 19px; } }

.contacts__list::after {
  border-bottom: 5px solid black; }

.contacts__title {
  margin-top: 24px;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px; }
  @media screen and (min-width: 768px) {
    .contacts__title {
      margin: 0 auto;
      width: 500px;
      font-size: 40px;
      line-height: 48px; } }
  @media screen and (min-width: 1025px) {
    .contacts__title {
      font-size: 50px;
      line-height: 60px; } }

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .contacts__list {
      justify-content: space-around;
      margin-left: -10px;
      margin-right: -10px;
      padding-top: 42px; } }
  @media screen and (min-width: 1025px) {
    .contacts__list {
      margin: 0;
      padding-top: 56px; } }

.contacts__item {
  margin-bottom: 24px;
  width: 280px; }
  @media screen and (min-width: 768px) {
    .contacts__item {
      margin-bottom: 43px; } }
  @media screen and (min-width: 1025px) {
    .contacts__item {
      margin-bottom: 0; } }
  @media screen and (min-width: 1025px) {
    .contacts__item--phone {
      order: 1; } }
  @media screen and (min-width: 1025px) {
    .contacts__item--email {
      order: 3; } }
  @media screen and (min-width: 1025px) {
    .contacts__item--address {
      order: 2; } }
  .contacts__item:last-child {
    margin-bottom: 0; }

.contacts__list-term {
  font-size: 18px;
  font-weight: 700; }
  @media screen and (min-width: 768px) {
    .contacts__list-term {
      margin-bottom: 6px; } }
  @media screen and (min-width: 1025px) {
    .contacts__list-term {
      margin-bottom: 23px; } }

.contacts__list-description {
  margin-left: 0;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  color: #d22856; }

.contacts__list-link {
  color: inherit;
  text-decoration: none; }
  .contacts__list-link:hover {
    color: #1d2632;
    text-decoration: underline; }
  .contacts__list-link:active {
    color: rgba(29, 38, 50, 0.7); }

.contacts__list-address {
  font-style: normal; }

.contacts__triangle {
  background-image: url("../../imagesmin/icons/triangle-white-contacts-mobile.svg");
  width: 100%;
  height: 200px;
  background-position: 0 37px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .contacts__triangle {
      background-position: 0 27px; } }
  @media screen and (min-width: 1025px) {
    .contacts__triangle {
      background-position: 0 18px; } }

.page-footer {
  display: none; }
  @media screen and (min-width: 768px) {
    .page-footer {
      display: block; } }

.page-footer__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .page-footer__content-wrapper {
      padding: 0 20px;
      height: 127px; } }
  @media screen and (min-width: 1025px) {
    .page-footer__content-wrapper {
      padding: 0 130px;
      height: 197px; } }

.footer-logo__image {
  cursor: pointer;
  margin-bottom: 20px; }
  .footer-logo__image:hover {
    fill: #d22856; }
  .footer-logo__image:active {
    fill: #283645;
    opacity: 0.3; }
  .footer-logo__image--tablet {
    display: none; }
    @media screen and (min-width: 768px) {
      .footer-logo__image--tablet {
        display: block; } }
    @media screen and (min-width: 1025px) {
      .footer-logo__image--tablet {
        display: none; } }
  .footer-logo__image--desktop {
    display: none; }
    @media screen and (min-width: 1025px) {
      .footer-logo__image--desktop {
        display: block; } }

.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 39px;
  padding-bottom: 39px; }
  @media screen and (min-width: 768px) {
    .social-links {
      padding-top: 0;
      padding-bottom: 0; } }
  @media screen and (min-width: 1025px) {
    .social-links {
      max-width: 600px; } }

.social-links__item {
  margin: 0 6px;
  list-style: none; }
  @media screen and (min-width: 768px) {
    .social-links__item {
      margin: 0 3px 0 9px; } }
  @media screen and (min-width: 1025px) {
    .social-links__item {
      margin: 0 2px 0 10px; } }

.social-links__link {
  display: flex;
  width: 45px;
  height: 45px;
  border-width: 3px;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 50%;
  color: #d22856;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center; }
  .social-links__link:hover {
    border-color: #1d2632; }
  .social-links__link:active {
    border-color: rgba(29, 38, 50, 0.7);
    opacity: 0.3; }

.social-links__icon {
  display: block;
  margin: auto;
  fill: currentColor;
  pointer-events: none; }

.page-footer__copyright {
  display: flex;
  align-items: center; }

.page-footer__copyright-icon {
  fill: #d22856;
  margin-top: 10px; }
  .page-footer__copyright-icon:hover {
    fill: #283645; }
  .page-footer__copyright-icon:active {
    opacity: 0.3; }

.page-footer__copyright-text {
  margin-right: 15px; }

.price {
  padding-top: 91px;
  padding-bottom: 32px;
  background-image: url("../../images/grey-shape-mobile.svg");
  background-position: 0 -41px;
  background-repeat: no-repeat; }
  @media screen and (min-width: 768px) {
    .price {
      padding-top: 86px;
      padding-bottom: 69px;
      background-image: url("../../images/grey-shape-tablet.svg");
      background-position: 0 0; } }
  @media screen and (min-width: 1025px) {
    .price {
      padding-top: 150px;
      padding-bottom: 95px;
      background-image: url("../../images/grey-shape-desktop.svg");
      background-position: 0 0; } }

.price__slider {
  overflow: hidden;
  line-height: 30px;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .price__slider {
      padding: 0 20px; } }
  @media screen and (min-width: 1025px) {
    .price__slider {
      padding: 0 130px; } }

.price__slider-controls {
  margin-top: 40px;
  margin-bottom: 15px;
  display: flex; }
  @media screen and (min-width: 768px) {
    .price__slider-controls {
      display: none; } }

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.4s linear;
  margin-top: 50px; }
  @media screen and (min-width: 768px) {
    .price__table {
      position: static;
      left: auto;
      transform: none; } }
  @media screen and (min-width: 1025px) {
    .price__table {
      margin-top: 30px; } }

.table-price {
  width: 834px;
  border-spacing: 0; }
  @media screen and (min-width: 768px) {
    .table-price {
      width: 100%; } }

.table-price__header {
  position: relative;
  padding-top: 17px;
  padding-bottom: 21px;
  border-right: 2px solid #e5e5e5;
  font-size: 18px;
  color: #ffffff;
  background-color: #1d2632; }
  @media screen and (min-width: 768px) {
    .table-price__header {
      padding-top: 10px;
      padding-bottom: 8px; } }
  @media screen and (min-width: 1025px) {
    .table-price__header {
      padding-top: 16px;
      padding-bottom: 22px; } }
  .table-price__header:first-child {
    display: none;
    border-right: 0;
    border-bottom: 2px solid #e5e5e5;
    background-color: transparent; }
    @media screen and (min-width: 768px) {
      .table-price__header:first-child {
        display: table-cell; } }
  .table-price__header:last-child {
    border-right-color: #1d2632; }
  .table-price__header .ribbon {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute; }
  .table-price__header .ribbon::before,
  .table-price__header .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block; }
  .table-price__header .ribbon span {
    position: absolute;
    display: block;
    width: 100px;
    background-color: #d22856;
    font-size: 14px;
    font-weight: 400; }
  .table-price__header .ribbon-top-left {
    top: 0px;
    left: -2px; }
  .table-price__header .ribbon-top-left::before,
  .table-price__header .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent; }
  .table-price__header .ribbon-top-left::before {
    top: 0;
    right: 0; }
  .table-price__header .ribbon-top-left::after {
    bottom: 0;
    left: 0; }
  .table-price__header .ribbon-top-left span {
    right: 27px;
    top: 5px;
    transform: rotate(-45deg); }

.table-price__license-type,
.table-price__license-price {
  display: block; }

.table-price__license-type {
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    .table-price__license-type {
      font-size: 16px; } }
  @media screen and (min-width: 1025px) {
    .table-price__license-type {
      font-size: 18px; } }

.table-price__license-price {
  font-size: 24px;
  font-weight: 300; }
  @media screen and (min-width: 768px) {
    .table-price__license-price {
      font-size: 18px; } }
  @media screen and (min-width: 1025px) {
    .table-price__license-price {
      font-size: 24px; } }

.table-price__cell {
  padding: 15px 18px 14px 22px;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: #ffffff; }
  @media screen and (min-width: 768px) {
    .table-price__cell {
      padding: 7px 20px 8px;
      width: 25%; } }
  @media screen and (min-width: 1025px) {
    .table-price__cell {
      padding: 14px 20px 15px; } }
  .table-price__cell:first-child {
    display: none;
    border-left: 2px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .table-price__cell:first-child {
        display: table-cell;
        padding-left: 14px;
        padding-right: 14px;
        text-transform: none; } }
    @media screen and (min-width: 1025px) {
      .table-price__cell:first-child {
        padding-left: 21px;
        padding-right: 21px;
        font-size: 18px; } }

.table-price__feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .table-price__feature {
      justify-content: center; } }
  .table-price__feature::before {
    content: attr(data-feature-name); }
    @media screen and (min-width: 768px) {
      .table-price__feature::before {
        content: ""; } }

.table-price__feature-value {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .table-price__feature-value--true {
    width: 31px;
    height: 23px;
    background-image: url("../../images/icons/price-yes-icon.svg"); }
  .table-price__feature-value--false {
    width: 27px;
    height: 27px;
    background-image: url("../../images/icons/price-no-icon.svg"); }

.map {
  position: relative;
  z-index: 1;
  background-image: url("../../imagesmin/map-desktop@1x.jpg");
  background-repeat: no-repeat;
  height: 300px;
  background-position-y: -442px;
  background-position: center;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    .map {
      background-image: url("../../imagesmin/map-tablet@1x.jpg");
      height: 373px;
      background-position-y: -330px; } }
  @media screen and (min-width: 1025px) {
    .map {
      background-image: url("../../imagesmin/map-desktop@1x.jpg");
      height: 501px;
      background-position-y: -535px;
      background-size: unset; } }

.map__marker {
  position: relative;
  top: 50%;
  left: 42%; }
  @media screen and (min-width: 768px) {
    .map__marker {
      top: 58%;
      left: 47%; } }
  @media screen and (min-width: 1025px) {
    .map__marker {
      top: 58%;
      left: 63%; } }

.slider-controls {
  justify-content: center;
  align-items: center;
  height: 12px; }

.slider-controls__button {
  box-sizing: content-box;
  margin-left: 9px;
  margin-right: 10px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  font-style: inherit;
  background-color: rgba(29, 38, 50, 0.7);
  cursor: pointer;
  outline: none; }
  .slider-controls__button:not(.slider-controls__button--active):hover {
    background-color: rgba(29, 38, 50, 0.4); }
  .slider-controls__button:not(.slider-controls__button--active):active {
    background-color: rgba(29, 38, 50, 0.9); }
  .slider-controls__button--active {
    box-shadow: 0 0 0 3px #1d2632;
    background-color: transparent;
    cursor: default; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  min-width: 320px;
  max-width: 1400px;
  overflow-x: hidden;
  font-family: 'Open Sans';
  color: #283645;
  margin: 0; }
  @media screen and (min-width: 1400px) {
    body {
      margin: 0 auto; } }

.container {
  padding: 0 20px; }

/*# sourceMappingURL=main.css.map */
