@import './common/variables';
@import './common/fonts';
@import './blocks/main-page-header';
@import './blocks/main-page-header-content';
@import './blocks/main-content';
@import './blocks/features';
@import './blocks/download-app';
@import './blocks/efficiency';
@import './blocks/header-logo';
@import './blocks/main-menu';
@import './blocks/slider-reviews';
@import './blocks/contacts';
@import './blocks/footer';
@import './blocks/price';
@import './blocks/map';
@import './blocks/slider-controls';

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Open Sans';
  color: #283645;
  margin: 0;
}

.container {
  padding: 0 20px;
}