@import './fonts.css';
@import './variables.css';
@import './blocks/main-page-header.css';
@import './blocks/main-page-header-content.css';
@import './blocks/main-content.css';
@import './blocks/features.css';

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Open Sans';
  color: #283645;
  margin: 0;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
}

@media screen and (min-width: 1200px) {
  .body {
    width: 1200px;
    margin: 0 auto;
  }
}

/*@media screen and (min-width: 660px) {
  .header__inner {
    min-height: 110px;
  }
  .logo__tablet {
    display: block;
  }
  .logo__mobile {
    display: none;
  }
  .logo__desktop {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 130px;
  }
  .header__inner {
    min-height: 110px;
  }
  .logo__mobile {
    display: none;
  }
  .logo__tablet {
    display: none;
    margin-bottom: 10px;
  }
  .logo__desktop {
    display: block;
  }
  .menu__image {
    display: none;
  }
  .menu__list {
    display: flex;
  }
  .menu__list-item {
    margin-left: 80px;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
  }
}


.information {
  background-color: var(--white);
  text-align: center;
  position: relative;
  top: 271px;
}
.main-info-text {
  font-size: 24px;
  font-weight: 300;
  margin-top: 40px;
}
.information__guidelines-container {
  background-image: url("../images/grey-shape.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  top: -30px;
  height: 828px;
}
.information__guidelines-inner {
  position: relative;
  top: 115px;
}
.text-with-header {
  margin: 40px;
}
.text-header {
  font-size: 18px;
  font-weight: 700;
}
.text-content {
  font-size: 14px;
  font-weight: 400;
}
.information__iphone-image {
  margin: 0 auto;
}
.information__iphone-screen {
  display: none;
}
@media screen and (min-width: 660px) {
  .information {
    top: 0;
  }
  .information__inner {
    margin-top: 60px;
  }
  .main-info-text {
    font-size: 40px;
    margin: 0;
  }
  .information__guidelines-container {
    background-image: url("../images/grey-shape-tablet.png");
    min-height: 695px;
    margin-top: 50px;
  }
  .information__guidelines-inner {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }
  .information__iphone-image {
    margin: 0;
    margin-left: 20px;
    margin-top: -80px;
    width: 268px;
  }
  .information__iphone-screen {
    display: block;
    position: absolute;
    left: 34px;
    top: -20px;
  }
}

.feedbacks {
  background-color: var(--white);
  position: relative;
  top: 240px;
  text-align: center;
}
.feedbacks__inner {
  padding: 26px 0;
}*/